<%- include('shared/header.ejs') %>

<div class="container text-center w-50 my-5">
    <form action="/reset" method="POST">
    <input type="password" name="newPassword" placeholder="Enter your new password" class="form-control my-3">
    <input type="password" name="newConfirmationPassword" placeholder="Confirm your new password" class="form-control my-3">
    <button class="btn btn-default-outline w-100">Reset</button>
</form>
</div>

<%- include('shared/footer.ejs') %>