<%- include('shared/header.ejs') %>

<div class="container text-center py-5 my-5 text-center">
    <div class="card py-5 mb-5">
        <a href="" data-toggle="modal" data-target="#profile">
            <img src="/img/avatar.png" class="avatar " alt="">

        </a>
        <h3 class="py-2"><%= name %> </h3>
        <div class="container w-50 m-auto">
            <form action="/handleUser/<%= id %>" method="POST">
                <textarea class="form-control" name="message" cols="10" rows="9" placeholder="You cannot send a Sarahah to yourself, share your profile with your friends :"></textarea>
                <button class="btn btn-outline-info mt-3"><i class="far fa-paper-plane"></i> Send</button>
            </form>
        </div>
    </div>
</div>


<!--  Share profile Modal -->

<!-- /modal -->
<%- include('shared/footer.ejs') %>
